@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 44% 18%;
    --foreground: 120 5% 95%;

    --card: 158 44% 22%;
    --card-foreground: 120 5% 95%;

    --popover: 158 44% 18%;
    --popover-foreground: 120 5% 95%;

    --primary: 142 72% 29%;
    --primary-foreground: 144 5% 95%;

    --secondary: 142 30% 85%;
    --secondary-foreground: 142 72% 29%;

    --muted: 158 44% 14%;
    --muted-foreground: 120 5% 75%;

    --accent: 142 30% 85%;
    --accent-foreground: 142 72% 29%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 120 5% 95%;

    --border: 158 44% 25%;
    --input: 158 44% 25%;
    --ring: 142 72% 29%;

    --radius: 0.5rem;

    --sidebar-background: 158 44% 16%;
    --sidebar-foreground: 120 5% 95%;
    --sidebar-primary: 142 72% 29%;
    --sidebar-primary-foreground: 120 5% 95%;
    --sidebar-accent: 158 44% 22%;
    --sidebar-accent-foreground: 120 5% 95%;
    --sidebar-border: 158 44% 25%;
    --sidebar-ring: 142 72% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}